body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;	
	color: black;
	font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;

}
.logo
{
	margin-right: 357px;
}
.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}
.header{
	background: url('../image/background.png') no-repeat center / cover;
	padding-top: 20px;
	padding-bottom: 240px;
}
header a{
	color: white;
}
.menu{
	display: flex;
}
.menu li a{
	text-decoration: none;
	font-size: 18px;
}
.menu li{
	margin-right: 70px;
}
.nav{
	display: flex;
	align-items: center;
}
.title{
	padding-top: 161px;
}
.title p{
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: bold;
	line-height: 78px;
	color: white;
	font-size: 64px;
}
.about{
	padding-top: 56px;
}
.about p{
	padding: 0;
	margin: 0;
	font-size: 28px;
	line-height: 34px;
	color: white;
}
.btn {
	text-decoration: none;
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	margin-top: 56px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
}
.btn:hover {
	background: #fff;
    color: #000;
}