body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;	
	color: black;
	font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;

}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}
.header{
	background: url('../image/background.svg') no-repeat center / cover;
	padding-top: 20px;
	padding-bottom: 280px;
}
header .logo
{
	margin-right: 357px;
}
header a{
	color: white;
}
header .menu{
	display: flex;
}
header .menu li a{
	text-decoration: none;
	font-size: 18px;
}
header .menu li{
	margin-right: 70px;
}
header .nav{
	display: flex;
	align-items: center;
}
header .title{
	padding-top: 161px;
}
header .title p{
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: bold;
	line-height: 78px;
	color: white;
	font-size: 64px;
}
header .about{
	padding-top: 56px;
}
header .about p{
	padding: 0;
	margin: 0;
	font-size: 28px;
	line-height: 34px;
	color: white;
}
header .btn {
	text-decoration: none;
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	margin-top: 56px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
}
header .btn:hover {
	background: #fff;
    color: #000;
}

section{
	font-family: 'Open Sans', sans-serif;
	padding-top: 106px;
}
section .title{
margin:0;
padding:0;
font-weight: bold;
font-size: 56px;
line-height: 76px;

color: #000000;
}
section .paratitle{
	padding-top:86px;
}
section .paratitle li{
	padding: 0;
	margin: 0;
	margin-right:233px;
}
section .paratitle li p{
margin: 0;
width: 380px;

font-weight: bold;
font-size: 36px;
line-height: 31px;

color: #000000;
}
section .paratitle{
	display:flex;
}

section .text{
	
	margin-top: 55px;
	display:flex;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #000000;
}
.text li p{
	margin: 0;
	padding: 0;
	width: 570px;
	padding-right: 43px;
}
section .photos{
	margin-top: 86px;
	display: flex;
}
.photos img{
	margin-right: 43px;
	width: 100%;
}
footer ul{
	margin-top:50px;
	margin-bottom: 50px;
	display: flex;
	font-family: Open Sans;
	font-weight: normal;
	font-size: 16px;
	color: #555;
}
footer li{
	margin-right: 150px;
}



@media screen and (max-width: 1200px)
{
	.container{
		width: 1140px;
	}
}
@media screen and (max-width: 1199px)
{
	.container{
		width: 960px;
	}
	.text li p{
		width: 90%
	}
	section .paratitle li{
		margin-right: 7.5%;
	}

	.photos	img:nth-child(1){
		width: 42%;
	}
	.photos	img:nth-child(2){
		width: 25%;
	}
	.photos	img:nth-child(3){
		width: 25%;
	}
	header .logo{
		margin-right: 15%;
	}

}
@media screen and (max-width: 991px)
{
	.container{
		width: 720px;
	}
	section .paratitle li p{
		font-size: 32px;
		width: 80%

	}
	header .menu li a{
		font-size: 16px;
	}
	header .menu li{
		margin-right: 40px;
	}
		header .logo{
		margin-right: 10%;
	}
}
@media screen and (max-width: 767px)
{
	.container{
		width: 540px;
	}
}
@media screen and (max-width: 575px)
{
	.container{
		width: 100%;
		padding: 0 15px;
	}
}